.dropdownPrimary{
    max-width: 300px;
    height: 46px;
    border-bottom: 1px solid var(--bg-light-20);
}
.dropdownPrimary:hover {
    color: #fff ;
    background-color: transparent ;
}
.droupDownArrowSize{
    --same-size : 24px;
    width: var(--same-size);
    height: var(--same-size);
}
