:global(.ant-btn) {
    font-size: 14px;
    height: auto;
    padding: 0px 15px;
    border-radius: 0px;
}

/* General Button Reset */
button {
    font-family: var(--text-primary);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

/* Primary Button Style */
:global(.ant-btn).customButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 149px;
    min-height: 60px;
    max-width: 150px;
    padding: 0 16px;

    color: var(--bg-light);
    border-radius: 0;

    background-image: linear-gradient(30deg, var(--bg-sky-blue) 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background-position 300ms ease-in-out, color 300ms ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: none;
}

:global(.ant-btn).customButton:not(:disabled):not(.ant-btn-disabled):hover {
    background-position: 100%;
    background-color: transparent ;
    color: var(--bg-green) ;
    border-color: var(--bg-green);
}

/* Border-only Style */
:global(.ant-btn).simpleBorder {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--bg-light);
    min-width: 120px;
    min-height: 40px;
    padding: 0 12px;
    border: 1px solid var(--bg-light);
    border-radius: 0;
    transition: all 0.25s ease-in-out;
}

:global(.ant-btn).simpleBorder:not(:disabled):not(.ant-btn-disabled):hover  {
    background-color: var(--bg-green);
    border-color: transparent;
    color: var(--bg-light);
}

/* Plan Button Style */
.planButton {
    width: 226px;
    height: auto;
    padding: 14px 20px;
    border-radius: 0;
    background-color: var(--bg-sky-blue);
    color: var(--bg-light);
    box-shadow: none;
}

.planButton:hover {
    background-color: var(--bg-green);
    border-color: var(--bg-green);
    color: var(--bg-light);
}

:global(.ant-btn-variant-outlined) {
    border-color: transparent;
    background-color: transparent;
}

:global(.ant-btn).bigPlanButton {
    width: 226px;
    height: 100%;
    padding: 14px 20px;
    border-radius: 0;
    background-color: var(--bg-sky-blue);
    color: var(--bg-light);
    box-shadow: none;
}

.bigPlanButton:not(:disabled):not(.ant-btn-disabled):hover  {
    background-color: var(--bg-green) ;
    border-color: var(--bg-green) ;
    color: var(--bg-light) ;
}

/* Responsive */
@media (max-width: 1200px) {
    :global(.ant-btn).customButton {
        min-width: 130px;
        min-height: 50px;
    }
    :global(.ant-btn).simpleBorder {
        min-width: 110px;
        min-height: 36px;
    }
    .planButton {
        width: 200px;
    }
    :global(.ant-btn).bigPlanButton {
        height: 115px;
    }
}

@media (max-width: 991px) {
    :global(.ant-btn).customButton {
        min-width: 100px;
        min-height: 40px;
    }

    :global(.ant-btn).simpleBorder {
        min-width: 100px;
        min-height: 32px;
    }

    .planButton {
        width: 180px;
        padding: 10px 16px;
    }
}

@media (max-width: 767px) {
    :global(.ant-btn).customButton {
        width: 100%;
        min-width: unset;
        max-width: 110px;
    }

    :global(.ant-btn).simpleBorder {
        width: 100%;
        min-width: unset;
        max-width: 110px;
    }

    .planButton {
        width: 100%;
        min-width: unset;
        max-width: 110px;
    }

    :global(.ant-btn).bigPlanButton {
        width: 100%;
        height: 100%;
        min-width: 28px;
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    :global(.ant-btn).customButton,
    .planButton {
        padding: 10px;
    }
}
