.bestHotelImg {
    width: 610px;
    height: 480px;
}

.textImg {
    width: 132px;
}

.lineImg {
    width: 177px;
}

.max_width_i {
    max-width: 760px;
}

.max_w_609 {
    max-width: 609px;
}

.max_w_652 {
    max-width: 652px;
}

.max_w_435 {
    max-width: 435px;
}

.max_w_666 {
    max-width: 666px;
}
.max_w_760 {
    max-width: 760px;
}
.max_w_1920 {
    max-width: 1920px;
}

.galleryMainImg {
    height: 612px !important;
    overflow: hidden;
}

.gallertImg {
    height: 294px !important;
    overflow: hidden;
}

/* Optional utility helpers */
.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.line_clap {}

.form_i {
    width: 100%;
    height: 120px;

}

.form_ii {
    height: 100%;
    display: flex;
    gap: var(--gap-i);
    flex-grow: 1;
    align-items: center;
    padding-right: var(--gap-i);
}


@media (max-width:1599px) {
    .bestHotelImg {
        width: 410px;
        height: 280px;
    }

    .max_w_609 {
        max-width: 400px;
    }
    .galleryMainImg {
        height: 412px !important;

    }
    
    .gallertImg {
        height: 194px !important;

    }
}
@media (max-width:1399px) {
    .galleryMainImg {
        height: 405px !important;

    }
}

@media (max-width:991px) {
    .bestHotelImg {
        width: 310px;
        height: 180px;
    }
    .textImg {
        width: 70px;
    }

    .lineImg {
        width: 90px;
    }
    .galleryMainImg {
        height: 297px !important;
    }
    .gallertImg {
        height: 140px !important;
    }
}


@media (max-width: 767px) {
    .galleryMainImg {
        height: 312px !important;
    }
    .gallertImg {
        height: 150px !important;
    }
}
@media (max-width: 575px) {
    .galleryMainImg {
        height: 280px !important;
    }
    .gallertImg {
        height: 140px !important;
    }
}
@media (max-width: 480px) {
    .galleryMainImg {
        height: 200px !important;
    }
    .gallertImg {
        height: 100px !important;
    }
}
