/* CONTAINERS START */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
    :root {
        --container-size: 740px;
    }

    .padding_let {
        padding-left: calc((100% - 740px) / 2);
    }
}

@media (min-width: 992px) {
    :root {
        --container-size: 960px;
        --gap-i: 42px;
    }

    .padding_let {
        padding-left: calc((100% - 960px) / 2);
    }
}

@media (min-width: 1200px) {
    :root {
        --container-size: 1120px;
    }

    .padding_let {
        padding-left: calc((100% - 1120px) / 2);
    }
}

@media (min-width: 1280px) {
    :root {
        --container-size: 1180px;
        --gap-i: 52px;
    }

    .padding_let {
        padding-left: calc((100% - 1180px) / 2);
    }
}

@media (min-width: 1350px) {
    :root {
        --container-size: 1240px;
    }

    .padding_let {
        padding-left: calc((100% - 1240px) / 2);
    }
}

@media (min-width: 1400px) {
    :root {
        --container-size: 1340px;
        --gap-i: 62px
    }

    .padding_let {
        padding-left: calc((100% - 1340px) / 2);
    }
}

@media (min-width: 1600px) {
    :root {
        --container-size: 1470px;
    }

    .padding_let {
        padding-left: calc((100% - 1470px) / 2);
    }
}

@media (min-width: 1680px) {
    :root {
        --container-size: 1600px;
        --gap-i: 72px
    }

    .padding_let {
        padding-left: calc((100% - 1600px) / 2);
    }
}

/* CONTAINERS END */

@media (max-width: 1799px) {}

@media (max-width: 1599px) {
    :root {
        --section-small-spacing_i: 100px;
        --section-smaller-spacing: 5rem;
        --line-hight: 92px;
        --section-small-spacing_ii: 62px;
        --swiper-height-vertical: 761px;
    }

    .font-size-2xl {
        font-size: 18px;
    }

    .font-size-md {
        font-size: 15px;
    }

    .font-size-4xl {
        font-size: 18px;
    }

    h1 {
        font-size: 62px;
    }

    .p-5 {
        padding: 24px !important;
    }

    h2 {
        font-size: 32px;
    }
}

@media (max-width: 1365px) {
    :root {
        --section-small-spacing_i: 80px;
        --section-smaller-spacing: 4rem;
        --line-hight: 72px;
        --swiper-height-vertical: 698px;
    }

    h1 {
        font-size: 52px;
    }

}

@media (max-width: 1279px) {
    :root {
        --section-small-spacing_ii:42px;
        --section-small-spacing_i: 60px;
        --section-smaller-spacing: 3rem;
        --swiper-height-vertical: 650px;
        --line-hight: 62px;
    }
    h1 {
        font-size: 42px;
    }
    .font-size-3xl {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
    .font-size-xl {
        font-size: 16px;
    }
    h1 {
        font-size: 42px;
    }
}

@media (max-width: 991px) {
    :root {
        --header-hight: 40px;
        --section-small-spacing_i: 40px;
        --section-small-spacing_ii:32px;
        --section-smaller-spacing: 2rem;
        --swiper-height-vertical: 600px;
        --line-hight: 42px;
    }
    .w-75,
    .w-50,
    .w-25 {
        width: 100% !important;
    }
    .font-size-sm {
        font-size: 12px;
    }
    .font-size-4xl {
        font-size: 16px;
    }
    .font-size-3xl {
        font-size: 18px;
    }
    .Vujahday {
        font-size: 24px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .font-size-xl {
        font-size: 16px;
    }
    :root {
        --section-small-spacing_i: 30px;
        --section-small-spacing_ii:22px;
        --section-smaller-spacing: 3rem;
        --swiper-height-vertical: 600px;
        --line-hight: 32px;
    }
    h1 {
        font-size: 24px;
    }
    .font-size-3xl {
        font-size: 16px;
    }
}

@media (min-width: 576px) {}

@media (max-width: 575px) {
    :root {
        --swiper-height-vertical: 500px;
        --gap-i: 18px;
    }
    .font-size-lg {
        font-size: 14px;
    }
    .font-size-xl {
        font-size: 14px;
    }

    .font-size-md {
        font-size: 12px;
    }

}

/* DEFAULT RESPONSIVE END */