:root {
    /* text */
    --text-primary: 'Netflix Sans';
    --text-secondary: 'Cinzel Decorative';
    --text-tertiary: 'Vujahday Script';

    /* color */
    --bg-sky-blue: #1FC0E1;
    --bg-green: #87C65A;
    --bg-dark-green: #024F25;
    --bg-dark-teal: #004958;
    --bg-teal-transparent:#003f4c5b;
    --bg-light: #FFF;
    --bg-light-20: #ffffff2c;
    --bg-light-40: #FFFFFF66;
    --bg-light-60: #FFFFFF99;
    --bg-light-80: #FFFFFFCC;
    --bg-grey: #A1A1A1;
    --bg-light-grey: #B3B3B3;
    --bg-dark-grey: #747474;
    --bg-black : #000;
    --bg-black-01:#021A1F;
    --bg-black-light: #131313;
    --bg-black-40: #13131366;
    --bg-dark-grey : #77959A;
    --bg-light-sky-blue :#1FC0E129;
    --caribbean-blue-color: 31, 192, 225;


    /* height */
    --header-hight : 68px;
    --line-hight : 104px;
    --swiper-height-vertical : 881px;

    /* spacing */
    --section-small-spacing: 7rem;
    --section-small-spacing_i: 140px;
    --section-small-spacing_ii:110px;
    --section-smaller-spacing: 5rem;

    /* container */
    --container-size: 1600px;


    --border-primary : 1px ;
    --gap-i : 72px;
}