.logo {
    width: 24.86px;
    height: 34.51px;
}

.widthHightSame {
    width: var(--widthHightSame);
    height: var(--widthHightSame);
    color: var(--bg-light);
}

.divider {
    width: 1px;
    height: 40px;
    background-color: var(--bg-light-40);
}

.divider_i {
    width: 100%;
    height: 1px;
    background-color: var(--bg-light-40);
}

.divider_ii {
    width: 1px;
    height: var(--header-hight);
    background-color: var(--bg-light-40);
}

.main_header {
    min-height: var(--header-hight);
}

.mainLogo {
    width: 113px;
}

.list {
    min-height: var(--header-hight);
    color: var(--bg-light-60);
    border-bottom: 3px solid transparent;
}

.list:hover , .list:focus , .list:active  {
    min-height: var(--header-hight);
    transition: 0.3s all ease-in-out;
    color: var(--bg-light);
    border-bottom: 3px solid var(--bg-sky-blue);
}

.ant-menu-item {
    transition: background-color 0.3s;
}

:global(.ant-menu-dark .ant-menu-item:hover) {
    background-color: var(--bg-green) ;
}

:global(.ant-menu-item-selected) {
    background-color: var(--bg-green) ;
    color: white ;
}
.modal_backdrop {
    backdrop-filter: blur(3px);
    background-color: var(--bg-black-40);
    transition: all 0.3s ease-in-out;
}

.hideScrolling {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition: all 0.4s ease;
  }
  
.showScrolling {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease;
}
.topSideScrolling {
    transform: translateY(-41px);
    transition: all 0.4s ease;
}
  
  

@media (max-width: 1279px) {
    :root {
        --header-hight: 60px;
    }

    .divider {
        height: 35px;
    }
    .topSideScrolling {
        transform: translateY(-36px);
    } 
}

@media (max-width: 991px) {

    :root {
        --widthHightSame: 12px;
    }

    .divider {
        height: 30px;
    }

    .mainLogo {
        width: 80px;
    }
    .topSideScrolling {
        transform: translateY(-31px);
    } 

}