.downArrow {
    height: 24px;
    color: var(--bg-black);
    background-color: var(--bg-black);
}
.textCurve {
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
  