.img {
    width: 104px;
    height: 104px;
}
.roundedCircle {
    z-index: 999;
}
.roundeTextImg {
    top: 9%;
    left: 11.5%;
    font-size: 10px;
    font-family: var(--text-secondary);
    font-weight: 500;
}

.downArrowIcon {
    position: absolute;
    width: 15px;
    top: 32%;
    left: 42.5%;
    animation: move 1s infinite;
}
.img_i {
    width: 80px;
    height: 80px;
}

@keyframes move {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}