  .icon {
    width: var(--same-icon-size);
    height: var(--same-icon-size);
  }
  
  :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleBig {
    min-width: var(--same-circle-size) ;
    min-height: var(--same-circle-size) ;
    border: 1px solid var(--bg-light);
    gap:0 ;
    transition: all 0.3s ease;
  }

  :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleBig:hover ,  :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleBig:focus   {
    border-color:var(--bg-light) ;
    filter: brightness(1.3);
    background: var(--bg-dark-green) ;
  }

  :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleSmall {
    min-width: var(--same-circle-small-size) ;
    min-height: var(--same-circle-small-size);
    border: 1px solid var(--bg-light);
    gap:0 ;
    transition: all 0.3s ease;
  }
.smallIcon{ 
    width: var(--same-icon-small-size);
    height: var(--same-icon-small-size);
    color: #fff;
  }
  :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleSmall:hover ,    :global(.ant-btn.ant-btn-circle.ant-btn).iconCircleSmall:focus   {
    border-color:var(--bg-light) ;
    background: var(--bg-green) ;
  }

  @media (max-width: 1599px) {
    :root {
      --same-circle-size: 60px;
    }
  }
  
  @media (max-width: 1199px) {
    :root {
      --same-circle-size: 45px;
      --same-icon-size: 18px;
      --same-icon-small-size: 16px;
      --same-circle-small-size : 30px;
    }
  }
  
  @media (max-width: 768px) {
    :root {
      --same-circle-size: 40px;
      --same-icon-size: 16px;
      --same-icon-small-size: 12px;
      --same-circle-small-size : 30px;
    }
  }
  
  @media (max-width: 575px) {
    :root {
      --same-circle-size: 30px;
      --same-icon-size: 14px;
      --same-icon-small-size: 10px;
      --same-circle-small-size : 25px;
    }
  }
  