:root {
    --same-size: 24px;
  }
  
  /* Icon */
  .downArrowIcon {
    width: var(--same-size);
    height: var(--same-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Input base styling */
  .primaryAutoComplete {
    max-width: 300px;
    height: 46px;
    padding: 0;
    border-bottom: 1px solid var(--bg-light-20);
    background-color: transparent;
    border-radius: 0;
    color: var(--bg-light) !important;
  }
  
  .primaryAutoComplete::placeholder {
    color: var(--bg-light);
  }
  
  .primaryAutoComplete:hover,
  .primaryAutoComplete:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  .primaryAutoComplete::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Ant Design dropdown/input override */
  :global(.ant-select-selector) {
    border-color: transparent !important;
    border-bottom: 1px solid var(--bg-light-20) !important;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }
  