
.downArrowIcon {
  width: var(--same-auto-complete-size);
  height: var(--same-auto-complete-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.ant-select).primaryAutoComplete {
  max-width: 300px;
  height: 46px;
  padding: 0;
  border-bottom: 1px solid var(--bg-light-20);
  background-color: transparent;
  border-radius: 0;
  color: var(--bg-light);
}

:global(.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector) {
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: start;
  align-items: start;
}

:global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
  cursor: text;
  padding: 0;
}

:global(.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector):hover {
  box-shadow: none;
}

:global(.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input) {
  font-size: 16px;
  text-transform: uppercase;
}

:global(.ant-select .ant-select-selection-placeholder) {
  color: var(--bg-light-80);
  font-size: 16px;
  text-transform: uppercase;
}

:global(.ant-select .ant-select-arrow) {
  color: var(--bg-light-80);
  top: 40%;
}

:global(.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector) {
  border-color: transparent transparent var(--bg-light) transparent;
  box-shadow: none;
  outline: 0;
}

:global(.ant-select-single .ant-select-selector) {
  color: var(--bg-light-80);
}

.primaryAutoComplete::placeholder {
  color: var(--bg-light);
}

.primaryAutoComplete::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

:global(.ant-select-selector) {
  border-color: transparent;
  border-bottom: 1px solid var(--bg-light-20);
  background: transparent;
  outline: none;
  box-shadow: none;
}

@media (max-width: 1365px) {
  :global(.ant-select).primaryAutoComplete {
    height: 36px;
  }
}

@media (max-width: 1200px) {
  :global(.ant-select).primaryAutoComplete {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  :global(.ant-select .ant-select-selection-placeholder) {
    font-size: 15px;
  }
}

@media (max-width: 767px) {}

@media (max-width: 480px) {
  :global(.ant-select .ant-select-selection-placeholder) {
    font-size: 12px;
  }
}
