.slidImgHomePage {
    width: auto;
    height: 440px;
}

.border_color {
    border-color: var(--bg-light-40) !important;
}

.max_w_849 {
    max-width: 849px;
}

.testimonialImg {
    max-width: 184px;
    max-height: 241px;
    overflow: hidden;
}

.doubleQuotes {
    width: 30px;
    color: var(--bg-green);
}

.customPrev,
.customNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
}

.customPrev {
    left: 10px;
}

.customNext {
    right: 10px;
}

.customPrev svg,
.customNext svg {
    width: 44px;
    height: 44px;
    color: var(--bg-grey);
}

.customPrev svg:hover,
.customNext svg:hover {
    transition: 0.3s all ease-in-out;
    color: var(--bg-black-01);
}

.line_clap {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* === RESPONSIVE === */

@media (max-width: 1599px) {
    .slidImgHomePage {
        width: 100%;
        height: 340px;
    }

    .testimonialImg {
        max-width: 120px;
        max-height: 160px;
    }

    .max_w_849 {
        max-width: 500px;
    }

    .customPrev svg,
    .customNext svg {
        width: 30px;
        height: 30px;
    }

    .doubleQuotes {
        width: 20px;
    }
}

@media (max-width: 991px) {
    .testimonialImg {
        max-width: 100px;
        max-height: 140px;
    }

    .max_w_849 {
        max-width: 360px;
    }
}

@media (max-width: 575px) {
    .max_w_849 {
        max-width: 260px;
    }
    .customPrev svg,
.customNext svg{
    display: none;
}

}
