:root {
  --same-slider-icon: 22px;
  --same-slider-circal-icon: 44px
}

.slidImgHomePage {
  width: auto;
  height: 440px;
}

.border_color {
  border-color: var(--bg-light-40) !important;
}

.max_w_849 {
  max-width: 849px;
}

.testimonialImg {
  width: 184px;
  height: 241px;
  overflow: hidden;
}

.doubleQuotes {
  width: 30px;
  color: var(--bg-green);
}

.customPrev,
.customNext {
  width: var( --same-slider-circal-icon);
  height: var( --same-slider-circal-icon);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  border-color: var(--bg-black) !important;
  transition: 0.3s all ease-in-out;
  z-index: 5;
}

.customPrev:hover,
.customNext:hover,
.customPrev:hover svg,
.customNext:hover svg {
  background-color: var(--bg-sky-blue) !important;
  color: var(--bg-light) !important;
  border-color: var(--bg-sky-blue) !important;
  transition: 0.3s all ease-in-out;
}

.customPrev {
  left: 10px;
}

.customNext {
  right: 10px;
}

.customPrev svg,
.customNext svg {
  width: var(--same-slider-icon);
  height: auto;
  color: var(--bg-black);
}

.textLightSkyBlueHover:hover,
.textLightSkyBlueHover:focus {
  color: var(--bg-sky-blue) !important;
  transition: 0.2s all ease-in-out;
}

.heroImg {
  height: var(--swiper-height-vertical);
  overflow: hidden;
}

:global(.swiper-vertical) {
  width: 100%;
  height: var(--swiper-height-vertical);
}
.swiper_pagination_bullet {
  width: auto; 
  height: auto; 
  display: inline-block; 
  border-radius:0%; 
  background:transparent; 
} 

.verticalLine {
  width: 2px;
  height: 0px;
  background-color: var(--bg-light);
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

:global(.swiper-pagination-bullet-active) .verticalLine {
  height: 110px;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active:last-child) .verticalLine {
  height: 0px;
  opacity: 0; 
}

@media (max-width: 1599px) {
  :root {
    --same-slider-icon: 30px
  }
  .slidImgHomePage {
    width: 100%;
    height: 340px;
  }
  .testimonialImg {
    width: 120px;
    height: 160px;
  }
  .max_w_849 {
    max-width: 500px;
  }
  .doubleQuotes {
    width: 20px;
  }
:global(.swiper-pagination-bullet-active) .verticalLine {
  height: 90px;
}

}

@media (max-width: 1365px) {
  
:global(.swiper-pagination-bullet-active) .verticalLine {
  height: 70px;
  opacity: 1;
}

}

@media (max-width: 991px) {
  .testimonialImg {
    min-width: 100px;
    min-height: 140px;
  }
  .max_w_849 {
    max-width: 360px;
  }
:global(.swiper-pagination-bullet-active) .verticalLine {
  height: 50px;
  opacity: 1;
}

}

@media (max-width: 767px) {
  :root {
    --same-slider-icon:18px;
    --same-slider-circal-icon:33px;
  }
  .testimonialImg {
    width: 60px;
    height: 80px;
  }
  .customPrev {
    top: 10%;
    left: 82.5%;
  }
  .customNext {
    top: 10% !important;
    right: 5%;
  }
  
:global(.swiper-pagination-bullet-active) .verticalLine {
  height: 30px;
  opacity: 1;
}

}

@media (max-width: 575px) {
  .max_w_849 {
    max-width: 260px;
  }

  .customPrev {
    top: 10%;
    left: 70%;
  }

  .customNext {
    top: 10% ;
    right: 10%;
  }
  :global(.swiper-pagination-bullet-active) .verticalLine {
    height: 40px;
  }
}
@media (max-width: 480px) {
  .customPrev {
    top: 10%;
    left: 65%;
  }
  .customNext {
    top: 10% ;
    right: 10%;
  }
}